
.main--title {
    color: #38caa3;
    font-weight: 600;
    font-size: 39.06px;
    letter-spacing: -0.05em;
    font-family: Inter;
    font-style: bold;
}

main {
    padding: 57px 27px;
    color: white;
    background-image:  URL(https://styles.redditmedia.com/t5_2su6s/styles/communityIcon_4g1uo0kd87c61.png);
    background-repeat: no-repeat;
    background-position: right 85%;
}
.list-items{
    margin-top: 46px;
    padding-block: 10px;
}

ul li::marker {
    color: rgb(174, 0, 255);
    font-size: 1.5em;
  }

  