* {
    box-sizing: border-box;
}

.nav--logo_text, .nav--tatle {
    margin: 0;
}

body {
    margin: 0;
}

.nav--logo_text {
    margin-right: auto;
    color: #61DAFB;
    font-weight: 700;
    font-size: 22px;
}


nav {
    display: flex;
    align-items: center;
    background-color: #21222A;
    height: 90px;
    padding: 30px 25px;
}

nav > h3, nav > h4 {
    margin: 0;
}
nav > h4 {
    color: #DEEBF8;
    font-weight: 600;
}

nav > h3 {
    margin-right: auto;
    color: #61DAFB;
    font-weight: 700;
    font-size: 22px;
}

nav > img {
    height: 30px;
    margin-right: 7px;
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
  }

  #root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
  
  .logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
  }
  .logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }